doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles/normalize.css")
    link(rel="stylesheet" href="styles/styles.css")
    title Document
  body
    ul
      li
        a(href="account.html") Settings
      li
        a(href="add-word.html") Add Words
      li
        a(href="submit-word.html") Spell Words
      li
        a(href="home.html") Log Out
    .inputbox
      form
        input(type="text" id="add-word" placeholder="new word..")
        .btn
          button(type="button" id="add-btn" class="button button1") Add Word
          button(type="button" id="display-btn" class="button button1") Display Words
    #message-1
      p#validationMessage
    #word-box
      #word-container.word-container
    script(src="./../utils/addword.js" type="module")
