extends base

block content
  body
    .login-form
      h2.heading-secondary.ma-bt-lg Add New Spelling Word
      form.form.form--login
        .form__group
          label.form__label(for='email') 
          input#email.form__input(type='', placeholder='spelling word...', required)
        
        .form__group
          button.btn.btn--green Submit