doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    // Stylesheets
    link(rel="stylesheet" href="./../styles/normalize.css")
    link(rel="stylesheet" href="./../styles/styles.css")
    
    // Favicon links
    //- link(rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png")
    //- link(rel="icon" type="image/png" sizes="32x32" href="")
    //- link(rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png")
    //- link(rel="manifest" href="/favicon_io/site.webmanifest")
    
    // Font Awesome script
    script(src="https://kit.fontawesome.com/6254b5bb38.js" crossorigin="anonymous")
    
    // Title
    title Spell Wise || #{title}
  
  body
    // HEADER
    include _header
        
    // CONTENT
    block content
      h1 This is a placeholder heading
      
    // FOOTER
    include _footer

    // Bundle script
    script(src='/js/bundle.js')
  
