extends base

block append content
  //- Redefining the nav block
 
    //- Modify or remove the existing menu items or add new ones

block content
  body

    main.main
      .login-form
        h2.heading-secondary.ma-bt-lg Request New Password
        form.form.form--login
          .form__group
            label.form__label(for='email') Email
            input#email.form__input(type='email', placeholder='........', required)

          .form__group
            button#request-button.btn.btn--green Request
