extends base

block content
  body
    #logoBox
      #logo
        img.logo(src="../assets/logo3.png" alt="")
      .butt
        button#login-btn.button.button1 Login
        button#sign-btn.button.button2 Sign Up
    main#main
  
