extends base

block content
  body
    h1= word
    h2= def
    #logoBox
      #logo
        img.logo(src="./../assets/logo3.png" alt="Logo")
    .butt
      form#form.form
        .input-group
          span.input
          input#email.form-control(type="email" name="email" placeholder="Email" autocomplete="username" required)
        .input-group
          span.input
          input#password.form-control(type="password" name="password" placeholder="Password" autocomplete="current-password" required)
        .submit-group
          span.input
          button#submit.button.button3(type="submit") Submit
    #message
      #login-message
    main#main
    
