extends base

block content
  .specific-page
    .form-group
      label(for="activelist-dropdown") Choose a list:
      select#activelist-dropdown
        option(value="easy words") Easy Words
        option(value="hard words") Hard Words
        option(value="need to practice") Need to Practice
        option(value="custom1") Custom 1
        option(value="custom2") Custom 2
    .button-container
      button#clear.clear.btn
        i.fas.fa-trash
        | Delete Word

      button#spell.btnn.btn-small
        i.fas.fa-keyboard
        | Spell Word

      button#show.btnn.btn-small
        i.fas.fa-plus
        | Add Word


    // Inject cardsData for use in main.js
    script.
      window.cardsData = !{JSON.stringify(cardsData)}
      window.updateCurrent = 0

    #cards-container.cards

    .navigation
      button#prev.nav-button
        i.fas.fa-arrow-left
      p#current
      button#next.nav-button
        i.fas.fa-arrow-right

    #add-container.add-container
      h1
        |
        button#hide.btnn.btn-small.btn-ghost
          i.fas.fa-times

      .form-group.newlist
        label(for="list-dropdown") Choose a list:
      select#list-dropdown
        option(value="easy words") Easy Words
        option(value="hard words") Hard Words
        option(value="need to practice") Need to Practice
        option(value="need to practice") Custom 1
        option(value="need to practice") Custom 2

      
      .form-group
        label(for='newword') New Spelling Word
        textarea#newword(placeholder='Enter word...')

      button#add-card.btnn.btn-small
        i.fas.fa-plus
        | Add Word

    #say-container.say-container
      h1
        |
        button#hide-spell.btnn.btn-small.btn-ghost
          i.fas.fa-times

      .form-group
        label(for='newword') Check Word
        textarea#checkword(placeholder='Enter word...')

      button#check-word.btnn.btn-small
        i.fas.fa-plus
        | Check Word
