extends base


block content

  .button-container
    button#clear.clear.btn
      i.fas.fa-trash
      | Delete Word

    button#spell.btnn.btn-small
      i.fas.fa-keyboard
      | Spell Word

    button#show.btnn.btn-small
      i.fas.fa-plus
      | Add Word

  // Inject cardsData for use in main.js
  script.
    window.cardsData = !{JSON.stringify(cardsData)}
    window.updateCurrent = 0

  #cards-container.cards

  .navigation
    button#prev.nav-button
      i.fas.fa-arrow-left
    p#current
    button#next.nav-button
      i.fas.fa-arrow-right

  #add-container.add-container
    h1
      |
      button#hide.btnn.btn-small.btn-ghost
        i.fas.fa-times

    .form-group
      label(for='newword') New Spelling Word
      textarea#newword(placeholder='Enter word...')

    button#add-card.btnn.btn-small
      i.fas.fa-plus
      | Add Word

  #say-container.say-container
    h1
      |
      button#hide-spell.btnn.btn-small.btn-ghost
        i.fas.fa-times

    .form-group
      label(for='newword') Check Word
      textarea#checkword(placeholder='Enter word...')

    button#check-word.btnn.btn-small
      i.fas.fa-plus
      | Check Word
