extends base

block content
  .specific-page
    .form-group
      
      label#activelist-label(for="activelist-dropdown") #{currentActiveList}
      select#activelist-dropdown
        option(value="easy words") Select List
        option(value="easy words") Easy Words
        option(value="hard words") Hard Words
        option(value="need to practice") Need to Practice
        option(value="custom1") Custom 1
        option(value="custom2") Custom 2

    // Inject cardsData for use in main.js
    script.
      window.cardsData = !{JSON.stringify(cardsData)}
      window.updateCurrent = 0

    // Conditional rendering based on cardsData length
    if cardsData.length === 0
      #cards-container.cards.active
        div.inner-card
          div.inner-card-front-static
        
    else
      #cards-container.cards
    
    .navigation
      button#prev.nav-button
        i.fas.fa-arrow-left
      p#current
      button#next.nav-button
        i.fas.fa-arrow-right

    .button-container

      button#spell.btnn.btn-small
        i.fas.fa-keyboard
        | Spell Word

      button#show.btnn.btn-small
        i.fas.fa-plus
        | Add Word

      button#delete.btnn.btn-small
        i.fas.fa-trash
        | Delete Word

    #add-container.add-container
      h1
        |
        button#hide.btnn.btn-small.btn-ghost
          i.fas.fa-times

      .form-group.newlist
        label(for="list-dropdown") Choose a list:
      select#list-dropdown
        option(value="easy words") Easy Words
        option(value="hard words") Hard Words
        option(value="need to practice") Need to Practice
        option(value="custom1") Custom 1
        option(value="") Custom 2

      
      .form-group
        label(for='newword') New Spelling Word
        textarea#newword(placeholder='Enter word...')

      button#add-card.btnn.btn-small
        i.fas.fa-plus
        | Add Word

    #say-container.say-container
      h1
        |
        button#hide-spell.btnn.btn-small.btn-ghost
          i.fas.fa-times

      .form-group
        label(for='newword') Check Word
        textarea#checkword(placeholder='Enter word...')

      button#check-word.btnn.btn-small
        i.fas.fa-plus
        | Check Word
