extends base

block content

  body
    #cCarousel
      .arrow#prev
        i.fa-solid.fa-chevron-left
      .arrow#next
        i.fa-solid.fa-chevron-right

      #carousel-vp
        #cCarousel-inner
          each word in words
            article.cCarousel-item
              .infos
                h1= word.word
                h3 Part-of-Speech: #{word.fl}
                h3 Definition: #{word.definition}
              .form__group
              button.btn.btn--red Delete
