extends base

block content
  ul
    li
      a(href="/") Overview
    li
      a(href="/submit") Spell Words
    li
      a(href="/home") Log Out

  body
    #cCarousel
      .arrow#prev
        i.fa-solid.fa-chevron-left
      .arrow#next
        i.fa-solid.fa-chevron-right

      #carousel-vp
        #cCarousel-inner
          each word in words
            article.cCarousel-item
              .infos
                h1= word.word
                h3= word.fl
                h3= word.definition

    script(src="./../js/carousel.js")