extends base

block content
  body
    ul
      li
        a(href="/") Settings
      li
        a(href="/add") Add Words
     
      li
        a(href="/home") Log Out
    #message-2
      p#validationMessage
    .inputbox
      input(type="text" id="spell-word" placeholder="Spell Word" readonly)
      .btn
        button#say-btn.button.button1 Say Word
        button#check-btn.button.button3 Check
      .hint
        button#login-btn.button.button2 Hint
        button#next-btn.button.button2 Skip
    .keyboard
      .row
        .key 1
        .key 2
        .key 3
        .key 4
        .key 5
        .key 6
        .key 7
        .key 8
        .key 9
        .key 0
        .key.delete 
          i.fa-solid.fa-delete-left
      .row
        .key q
        .key w
        .key e
        .key r
        .key t
        .key y
        .key u
        .key i
        .key o
        .key p
      .row
        .key.capslock CapsLock
        .key a
        .key s
        .key d
        .key f
        .key g
        .key h
        .key j
        .key k
        .key l
      .row.last
        .key z
        .key x
        .key c
        .key v
        .key b
        .key n
        .key m
      .row
        .key.space
    script(src="./../js/submit.js" type="module")
